[submodule "grub"]
	path = src
	url = https://github.com/fnr1r/grub.git
	#branch = grub2-2.04
	#branch = ventoy-with-configs
	# Vento 1.1.05
	branch = e55feb6c72a9088bb9f951be9cc8e68b456afc74
	shallow = true
